<HTML><BODY>
<H1> test expr with perl-supplied functions </H1>
hello('dad')=<tmpl_var expr="hello('dad')">
registered_func('self')=<tmpl_var expr="registered_func('self')">
lc('DAD')=<tmpl_var expr="lc('DAD')">
lc(ONE)=<tmpl_var expr="lc(ONE)">
sprintf('1+1=%d', TWO)=<TMPL_VAR EXPR="sprintf('1+1=%d', TWO)">
hello_string()=<tmpl_var expr="hello_string()">
</body></html>
